body {
    font-family: Roboto, sans-serif;
    overflow-x: auto;
    /* background-color: #757677; */
    /* background-image: url(images/fundo.jpeg); */
}
.navbar {
    background-color: #000000;
    font-weight: bolder;
    /* margin-top: 2; */
}
#faleconosco{
    margin-left: 20px;
    background-color: #25d366;
}
#assist {
    padding-top: 50px;
    background-size: cover;
    background-image: url(./images/fundo.jpeg);
}
#assist h2 {
    color: white;
}
.sobrenos {
    color: white;
}
.material {
    background-size: cover;
    background-image: url(./images/fundo.jpeg);
}
.material h2 {
    color: rgba(255, 255, 255, 0.966);
}
#painel {
    background-image: url(images/fundo2.jpg);
    color: black;
    padding: 20px;
    background-color: white;
}
#painel-txt {
    color: black;
}
#note {
    align-items: center;
}

#sobrenos {
    background-image: url(./images/fundo.jpeg);
    color: white;
    background-color: #000000;
}
.colored{
    color: #ffffff;
}
#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: black;
}
#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #fff;
}
.container-carousel {
    width: 50%;
}
#eventos {
    background-size: cover;
    background-image: url(images/fundo2.jpg);
}
#container {
    padding: 0;
}
#conteudo {
    width: 50%;
    display: flex;
}

.col-md-4 {
    margin-left: 33%;
}
.navbar-toggler {
    background-color: #ffffff;
}
.section-title {
    color: #ffffff;
    font-family: roboto, sans-serif;
    /* font-family: pacifico, cursive; */
}
.section-title h2 {
    color: black;
}
#sobrenos, .section-title, h2{
    color: rgb(0, 0, 0);
}
#quem-somos h2 {
    color: white;
}
#note .section-title h2 {
    color: rgb(255, 255, 255);
}

#sobre-o-restaurante, #cardapio {
    background-color:#757677 ;
}

.text-colored {
    color: #ffffff;
    /* margin-right: 3.0em; */
}
.text-colored2 {
    /* height: 100%; */
    text-align: center;
    background-size: cover;
    /* background-image: url(./images/fundo2.jpg); */
    color: rgb(0, 0, 0);
}
.text-colored3 {
    color: #ffffff;
}
.nav-cardapio .nav-link,
#fale-conosco button {
    background-color: #ffffff;
    color: #000000;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: white;
    color: black;
}

.nav-cardapio .nav-link:hover {
    color: #fff;
    background-color: #313131;
}
.social-links li {
    list-style: none;
    display: inline;
}

#quem-somos {
    background-size: cover;
    background-image: url(./images/fundo.jpeg);
    color: white;
}
.social-links a {
    text-decoration: none;
}
#text-form {
    color: black;
    
}
.textolimp {
    display: flex;
    position: sticky;
    padding: 5px;
    margin-top: 0;
    margin: 2px;
    background-color: black;
    color: white;
}
.textolimp a {
    text-decoration: none;
    color: inherit;
    /* text-transform: none; */
    /* color: #fff; */
}

#lista1 {
    width: 1200px;
    max-width: 108%;
}
.textolimp:hover {
    color: black;
    background-color: white;
}
footer {
    list-style: none;
    padding-top: 10px;
    background-color: #000000;
    color: white;
}

#listimg {
    /* padding: 0; */
    width: 24%;
    /* margin: 10px; */
    /* box-shadow: inset 3px 3px 9px #000000; */
    text-align: center;
    border-radius: 5px;
    /* background-size: cover; */
    /* background-image: url(images/fundo2.jpg); */
}

/* mobile: */

@media (max-width: 767px) {
    body {
        overflow-x: auto;
    }
    #lista1 {
        max-width: 120%;
    }
    /* #lista22{
        width: 30%;
    }
    hr {
        display: none;
    }*/
    #lista2 {
        width: 30%;
        /* overflow-x: auto; */
        /* position: relative; */
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    } 
    #painel {
        overflow-x: auto;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    #listimg {
        align-items: center;
        /* box-shadow: inset 3px 3px 9px #000000; */
        text-align: center;
        border-radius: 5px;
        padding: 20px;
        /* margin: 0px; */
        /* background-size: cover; */
        /* background-image: url(images/fundo2.jpg); */
        width: 44%;
    }
    .carousel-item img {
        height: 250px;
    }
}