body {
    font-family: roboto, sans-serif;
}
.navbar {
    background-color: #000000;
    font-weight: bolder;
    /* margin-top: 2; */
}

.sobrenos {
    color: white;
    font-weight: bolder;
}
#note {
    align-items: center;
}

#sobrenos {
    background-color: #000000;
}
.colored{
    color: #ffffff;
}
#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: black;
}
#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #fff;
}
.col-md-4 {
    margin-left: 33%;
}
.navbar-toggler {
    background-color: #ffffff;
}
.section-title {
    color: #ffffff;
    font-family: roboto, sans-serif;
    /* font-family: pacifico, cursive; */
}
.section-title, h2{
    color: black;
}

#sobre-o-restaurante, #cardapio {
    background-color:#757677 ;
}

.text-colored {
    color: #ffffff;
    /* margin-right: 3.0em; */
}
.text-colored2 {
    color: rgb(0, 0, 0);
}
.text-colored3 {
    color: #ffffff;
}
.nav-cardapio .nav-link,
#fale-conosco button {
    background-color: #ffffff;
    color: #000000;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: black;
}

.nav-cardapio .nav-link:hover {
    color: #fff;
    background-color: #000000;
}
.social-links li {
    list-style: none;
    display: inline;
}
.social-links a {
    text-decoration: none;
}
@media (max-width: 767px) {
    .carousel-item img {
        height: 150px;
    }
}
